!!! 5
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    %title= sprintf('Feeds%s', @title.empty? ? '' : (' - ' + @title))
    %link{rel: 'stylesheet', href: 'http://yui.yahooapis.com/pure/0.6.0/base-min.css'}
    %link{rel: 'stylesheet', href: 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css'}
    %link{rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', href: '/css/layout.css'}
    %script{src: 'https://code.jquery.com/jquery-1.11.3.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'}
  %body
    .pure-g
      #header.pure-u-1-5
        %header
          %h1
            %a{href: '/'} Feeds
          %aside#navigator
            .pure-menu
              .pure-menu-list
                %li.pure-menu-item
                  %a.pure-menu-link{href: '/article'} Articles
                %li.pure-menu-item
                  %a.pure-menu-link{href: '/channel'} Channels
                %li.pure-menu-item
                  %a.pure-menu-link{href: '/channel/new'} Add Channel
                %li.pure-menu-item
                  %a.pure-menu-link{href: '/article?saved=true'} Saved Articles
                %li.pure-menu-item
                  %a.pure-menu-link{href: '/setting'} Settings
          %p#about Feeds is developed on <a href="https://github.com/tsujio/feeds">GitHub</a>
      #content-part.pure-u-4-5
        %section
          != yield
