/* general */

html, body {
    height: 100%;
}

body > div {
    height: auto;
    height: 100%;
    min-height: 100%;
}

/* end of general */

/* header */

#header {
    position: fixed;
    top: 0px;
    bottom: 0px;
}

#header > header {
    padding: 1em;
}

#header > header h1 a {
    color: silver;
    text-decoration: none;
}

#navigator {
    margin-bottom: 1em;
}

#navigator a {
    color: white;
}

#navigator a:hover {
    color: black;
}

#about {
    font-size: 70%;
}

/* end of header */

/* content part */

#content-part {
    margin-left: 20%;
    height: auto;
    min-height: 100%;
    background-color: #FCFCFC;
    padding-bottom: 2em;
}

#content-part > section {
    padding: 2em 3em 0px;
}

/* end of content part */

/* channel */

.channel {
    margin-bottom: 1em;
    background-color: white;
}

.channel.listed {
    border: 1px solid silver;
    padding: 1em 2em 0em;
}

.channel > h1 {
    font-size: 150%;
}

.channel > .added-at {
    margin-top: 0.5em;
    text-align: right;
}

.channel > .description {
    padding: 0em 2em 1em;
}

.channel .menu {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.channel .menu li {
    margin: 0em 0.5em;
    display: inline;
}

/* end of channel */

/* article */

.article {
    padding: 1em 2em 0em;
    margin-bottom: 1em;
    background-color: white;
}

.article.listed {
    border: 1px solid silver;
}

.article > .article-header h1 {
    font-size: 150%;
}

.article > .article-header .channel-title {
    float: left;
    margin-top: 0.5em;
    padding-left: 1em;
}

.article > .article-header .date {
    float: right;
    margin-top: 0.5em;
    padding-right: 1em;
}

.article > .article-header .clear-float {
    clear: both;
}

.article > .article-body {
    padding: 0em 2em 1em;
}

.article .menu {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.article .menu li {
    margin: 0em 0.5em;
    display: inline;
}

.article img {
    max-width: 100%;
}

/* end of article */

/* channel/index */

#channel-index-menu {
    padding: 1em 0em;
}

/* end of channel/index */

/* channel/new */

#form-new-channel {
    padding-bottom: 0.5em;
}

#form-new-channel input[type=url] {
    width: 20em;
}

#form-add-channel {
    display: inline;
}

#form-multiple-add {
    border-top: 1px solid silver;
    margin-top: 2em;
}

#form-multiple-add button[type=submit] {
    font-size: small;
}

/* end of channel/new */

/* article/index */

#mark-all-as-read {
    text-align: right;
}

/* end of article/index */
