%script{src: '/js/jquery.inview.min.js'}
%script{src: '/js/article/index.js'}

%h1 Articles

%p#mark-all-as-read
  %button#btn-mark-all-as-read.pure-button Mark All as Read

#articles-area
  - @articles.each do |a|
    != haml :'article/_article', locals: {article: a}

%button.pure-button#btn-read-more Read More...
